.first {
   color: aqua;
   border-style: none;
   font-size: large;
}

h2 {
   letter-spacing: 3px;
   text-transform: lowercase;
   color: blue;
   border: 1px #283d55 groove;
   border-radius: 1px;
   text-shadow: 0px 5px 5px red;
}

.tasks {
   color: darkblue;
}

.main {
   color: darkturquoise;
}

body {
   background-color: #462550;
}

.svetofor div {
   height: 100px;
   width: 100px;
   border-radius: 50%;
}

.red {
   background-color: green;
}

.yellow {
   background-color: yellow;
}

.green {
   background-color: red;
}

.v {
   font-family: serif;
}

.link:hover {
   text-decoration: none;
   color: red;
   cursor: pointer;
}

.background {
   background-color: black;
   background-size: 15px;
   background-repeat: no-repeat;
   background-position: center center;
   font-size: medium;
   width: 100px;
   height: 100px;
   border-top: 0px 4px 5px rebeccapurple;
}

.hello::after {
   content: "Hii"  ;
}

.hello::before {
   content: "Bye";
}

div.parent {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.parent div:nth-child(3) {
   color: blue;
}